<div class="tought-form-container">
    <a href="/pensamentos/dashboard">Voltar</a>
    <h2>Criar um pensamento:</h2>
    <form action="/pensamentos/add" method="post">
        <div class="form-control">
            <label for="titulo">Pensamento: </label>
            <input type="text" name="titulo" placeholder="No que você está pensando?">
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>